body{
    background-color:gold;
    background-image:url(chess.jpeg);
}
h1{
    color:pink;
}

h2{
    color:blue;
    background-color:pink ;
    text-emphasis-color: blue;
p{
    background-color: turquoise;
}
